<!-- <ul class="nav flex-column bg-info ">
    <li class="nav-item">
      <a class="nav-link active" href="#">Addition with Single Digit Numbers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Addition with 2 digit numbers </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Subtraction with single digit numbers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Subtraction with 2 digit numbers</a>
    </li>
  </ul> -->

  <style type="text/css">
    .sidenav {
        height:100%;
        width:160px;
        position: fixed;
        z-index:1;
        top:70px;
        left:0;
        background-color:	#ADD8E6;
        overflow-x: :hidden;
        padding-top:20px;
    }

    .sidenav a {
        padding:6px 8px 6px 16px;
        text-decoration: none;
        font-size:25px;
        color: white;
        display:block;
    }

    .sidenav a:hover{
        color: black;
    }	

    .main{
        margin-left:160px;
        padding: 0px 10px;
    }
    </style>
    <div class="sidenav p-2 ">
		<a href="/grade1/add/1">Single Digit Add</a>
        <a href="/grade1/add/2"> Double digit Add</a>
        <a href="/grade1sub"> Single digit Subtract</a>
        <a href="/grade1sub2digit"> Double digit Subtract</a>
	</div>