
{% extends 'maths/base.html'%}


{%block content %}
<style> 
.center {
   margin: auto;
   width: 50%;
   border: 3px solid green;
   padding: 10px;
 }
</style>

<div class="container p-2">
{%include 'maths/includes/verticalnavbar.html'%}
</div>
<div class=" container center p-2">
<form method="POST" action=""style="">
      {% csrf_token%}
      {% for each_number1,each_number2,validate_val,output in  zippedlist %}
      {% if operator == '-' %}
         {% if each_number1  < each_number2 %}
           <p >       {{ each_number2}}  {{ operator }}     {{ each_number1 }}  = 
         {% else %}
         <p >       {{ each_number1}}  {{ operator }}     {{ each_number2 }}  = 

         {% endif %}
      {% else %}
          <p >       {{ each_number1}}  {{ operator }}     {{ each_number2 }}  = 
      {% endif %}
      {% if  not validate_val %}
               <input type="text" name="inputans"> 
               <span style= "color:red">Please fill in the answer</span>
            {%else %}
                <input type="text" name="inputans" value={{output}}>  
               {%endif %}
            </p>
    {%endfor %}

   <button name="submit" type="submit"class="btn btn-info">Submit</button>
</form>
</div>

{%endblock%}
    

<!-- <input type="text" name="inputans{{forloop.counter}}">  -->
